<app-header></app-header>
<app-menu></app-menu>
<body>
  <section id="servicios" class="services container">
    <h1>Nuestros Servicios</h1>
    <div class="cards">
      <div class="card">
        <img src="./assets/alquiler.png" alt="Colocation">
        <h3>Alquiler De Servidores</h3>
          <p> · Pequeño - 100: <br>
            Alojamiento básico. Ideal para blogs personales o webs de presentación sencillas.<br>
            · Mediano - 300: <br>
            Hosting optimizado. Adecuado para PyMEs, sitios con tráfico moderado y tiendas online pequeñas (e-commerce).<br>
            · Grande - 1600: <br>
             Servidor dedicado o VPS de alto rendimiento. Perfecto para grandes empresas, alto tráfico, plataformas complejas o aplicaciones web.
        </p>
      </div>
      <div class="card">
        <img src="./assets/creacion2.jpg" alt="Backup">
        <h3>Creacion y Alquiler</h3>
          <p> · Pequeño - 300. <br>
            Web básica y funcional. Ideal para tarjetas de presentación digital, currículum o landing pages. 
            Incluye diseño móvil y hosting básico.<br>
            · Mediano - 700.<br> 
            Web corporativa profesional. Perfecto para empresas que necesitan mostrar servicios, portafolio y un formulario de contacto avanzado. 
            Incluye CMS, hosting intermedio y soporte técnico. <br>
            · Grande - 2500. <br>
            Plataforma personalizada de alta complejidad. Diseñado para tiendas online avanzadas con pasarela de pago, sistemas de reservas, plataformas de cursos o cualquier funcionalidad a medida.
        </p>
      </div>
    </div>
  </section>
</body>
<app-footer></app-footer>
