.footer-container {
  width: 100%;
  background-color: #0d47a1;
  padding: 15px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  margin-top: 30px;
}

@media (max-width: 600px) {
  footer {
    font-size: 0.9rem;
  }
}
