.header {
  width: 100%;
  padding: 15px 25px;
  background: linear-gradient(90deg, #002f6c, #1f1f1f);
  color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  text-align: center;
  
  top:0;
  position:sticky;
  padding:15px 0;
  z-index:20;

}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #e5e5e5;
}


@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
}

@media (max-width: 900px) {
  header {
    flex-direction: center;
    text-align: center;
  }
}
