<app-header></app-header>
<app-menu></app-menu>
<body>
  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h2>Infraestructura de Clase Mundial</h2>
      <p>Conectividad, seguridad y disponibilidad 24/7 en nuestra red internacional de Data Centers.</p>
    </div>
  </section>
  <section id="servicios" class="services container">
    <h2>usando una base antigua</h2>
    <div class="cards">
      <div class="card">
        <img src="./assets/alquiler.jpeg" alt="Colocation">
        <h3>Get method</h3>
        <p>{{getJsonValue | json}}</p>
      </div>
      <div class="card">
        <img src="./assets/creacion.jpg" alt="Backup">
        <h3>Post method</h3>
        <p>{{postMethod | json}}</p>
      </div>
    </div>
  <div class="btn-container">
    <a routerLink="/Guerra" class="btn-hero">Contratar</a>
  </div>
  </section>
</body>
<app-footer></app-footer>