<app-header></app-header>
<app-menu></app-menu>
<body>
  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-text">
      <h2>Infraestructura de Clase Mundial</h2>
      <p>Conectividad, seguridad y disponibilidad 24/7 en nuestra red internacional de Data Centers.</p>
      <a href="#datacenters" class="btn-hero">Conocer Red</a>
    </div>
  </section>
  <section id="servicios" class="services container">
    <h2>¿Qué ofrecemos?</h2>
    <div class="cards">
      <div class="card">
        <img src="./assets/alquiler.jpeg" alt="Colocation">
        <h3>Alquiler De Servidores</h3>
        <p>Espacios dedicados con energía y conectividad redundante.<br>
        </p>
      </div>
      <div class="card">
        <img src="./assets/creacion.jpg" alt="Backup">
        <h3>Creacion y Alquiler</h3>
        <p>Tu Negocio Abierto 24/7. <br>
          La Vitrina Digital para Vender y Crecer.</p>
      </div>
    </div>
  <div class="btn-container">
    <a routerLink="/Guerra" class="btn-hero">Contratar</a>
  </div>
  </section>
</body>
<app-footer></app-footer>